* {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: normal;
}

body {
  padding: 0;
  margin: 0;
}

.cardContainer {
  margin: auto;
  overflow: auto;
  margin-bottom: 15%
}

.cardContainer .image {
  width: 50%;
  float: left;
}

.cardContainer img {
  width: calc(100% - (20px * 2));
  margin: 20px;
  /*padding: 10px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

.cardContainer img:hover {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.justify {
  text-align: justify;
}

#nav {
  border: none;
  border-width: 1px 0;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #393f4d;
}

#nav li {
  display: inline;
}

#nav a {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#nav a:hover {
  color: lightgrey;
}

.dropShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  margin: 20px;
  background-color: #5087F4;
}

.TextBoxContainer {
  margin: auto;
  padding: 0 10%;
  max-width: 1300px;
}

.aboutTitle {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 10px;
}

.aboutText {
  margin-top: 2px;
  margin-bottom: 5%;
  margin: none;
  text-decoration: none;
  font-weight: normal;
}

.TextTitle {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 130px;
}

.StandardText {
  margin-top: 5px;
  text-decoration: none;
  font-weight: normal;
}

.EndCardContainer {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border: none;
  padding-bottom: 8%;
}

.EndCardText {
  text-align: center;
  width: 70%;
  margin: 15px auto 15px;
  font-weight: normal;
}

#more {
  display: none;
  font-weight: normal;
  text-align: justify;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

.tableauPlaceholder {
  margin: auto;
}

.vizDescription {
  margin: 0 20%;
}

#footer {
  bottom: 0;
  padding: 20px 40px;
  width: 100%;
  display: block;
  background: #393f4d;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5%;
  z-index: 900;
  font-weight: normal;
  letter-spacing: normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
}

#footer>a {
  color: white;
}

#footer>a:hover {
  color: lightgrey;
}

.imprintTitle {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 0;
}

.imprintText {
  margin: none;
  text-decoration: none;
  font-weight: normal;
}

.publication {
  text-decoration: none; 
  color: black; 
  font-weight: normal;
}


.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  transition: 400ms;
  z-index: 950;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.tableauPlaceholder {
  position: relative;
  z-index: 900;
  margin-bottom: 5%;
  border: 1px solid black;
}
